.gal {
  max-width: 70rem;
  margin: 4rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
}

.gal__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
