.gal {
  max-width: 70rem;
  margin: 4rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
}

.gal__container {
  position: relative;
}

.gal__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gal__desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.gal__container:hover .gal__desc {
  opacity: 0.8;
}
